<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="#">
        <div class="header">
            <img src="./images/triangle.png" alt="icon">
            <h1>Tasks</h1>
        </div>
        
        <div class="body">
            <div class="all-task-middle">
               <a href="">
                    <div class="task-strip">
                        <div class="img-div">
                            <img src="./images/triangle_white.png" alt="icon">
                        </div>
                        <div class="middle">
                            <div class="tick">
                                <img c src="./images/check.png" alt="check">
                            </div>
                            
                            <p>Cook Food</p>
                        </div>

                        <div class="end">
                            <div class="date-view"><span class="label">Date :</span><span class="date">11/12/2022</span> </div> 
                            <div class="end-img-container">
                                <img class="end-icon" src="./images/chevron-right.png" alt="">
                            </div>
                        
                        </div>
                    </div>
                </a>
                
            </div>
          
        </div>     
    </div>

</body>
</html>